 /* Seletor universal. Regra para todos os elementos */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
 }

 /* body {
   background-color: #f8fafc;
   color: #111;
 }

 header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 18px 5%;
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
   font-family: 'Inter', sans-serif;
 }

 header img {
   height: 32px;
   display: block;
 }

 .header-nav {
   display: flex;
   align-items: center;
   gap: 2.5rem;
   font-size: 2.95rem;
   font-weight: 500;
   color: #103731;
   flex: 1;
   justify-content: center;
 }

 .header-nav a {
   text-decoration: none;
   color: #333;
   font-size: 16px;
 }

 .search-icon svg {
   width: 20px;
   height: 20px;
   color: #000202;
 }

 .search-icon {
   background: none;
   border: none;
   border-radius: 999px;
   font-weight: 600;
   font-size: 1rem;
   cursor: pointer;
   color: #103731;
 } */

 .hero {
   display: flex;
   align-items: center;
   background-color: #0e3b34;
   color: white;
   padding-left: 110px;
 }

 .hero-text {
   display: flex;
   flex-direction: column;
   flex: 1;
 }

 .hero-text h1 {
   font-size: 32px;
   font-weight: 700;
   margin-bottom: 16px;
 }

 .hero-text p {
   margin-bottom: 24px;
   font-size: 18px;
   color: #cbd5e1;
 }

 .btn-primary {
   background-color: #ff6600;
   color: #fff;
   padding: 15px 30px;
   border: none;
   border-radius: 40px;
   font-weight: 600;
   cursor: pointer;
   font-size: 0.93rem;
 }

 .container {
   height: 500px;
   display: flex;
   justify-content: center;
   flex: 1;
   align-items: center;
   position: relative;
 }

 .container::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 10%;
   bottom: 0;
   background: linear-gradient(to right, #0e3b34, #0e3b3400);
 }

 .myimg {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .benefits {
   padding: 60px 40px;
   text-align: center;
   background-color: #F5FAF9;
 }

 .benefits h2 {
   font-size: 30px;
   margin-bottom: 10px;
 }

 .benefits strong {
   color: #ff6600;
   ;
 }

 .benefits p {
   color: #FF7316;
   margin-bottom: 40px;
   font-size: 18px;
 }

 .cards {
   display: flex;
   flex-wrap: wrap;
   gap: 18px;
   justify-content: center;
 }

 .card {
   height: 234.17px;
   width: 388.34px;
   background-color: #fff;
   border: 1px solid #e2e8f0;
   border-radius: 11px;
   padding: 24px;
   text-align: left;
   font-size: 16px;
 }

 .icon-card-benefits svg {
   width: 20px;
   height: 40px;
 }

 .icon-wrapper {
   /* CIRCULO EXTERNO DOS ICONS (USANDO O MESMO PARA TODOS)*/
   background-color: #e8f0ef;
   /* cinza claro */
   border-radius: 50%;
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .icon-wrapper>svg {
   stroke: #0e3b34;
   width: 24px;
   height: 24px;
 }

 .icon-card-energy>svg {
   width: 20px;
   height: 40px;
 }

 .icon-card-money>svg {
   width: 20px;
   height: 40px;
 }


 .card h3 {
   font-size: 19px;
   margin-bottom: 35px;
   width: 290.58px;
   height: 23.41px;
   padding-top: 5%;
 }

 .card p {
   font-size: 16px;
   color: #4b5563;
   padding-top: 5%;
 }

 .card a {
   font-size: 16px;
   color: #FF8800;
 }

 .economize {
   display: flex;
   align-items: center;
   background-color: #0e3b34;
   color: white;
   padding-left: 200px;
   height: 500px;
   flex-direction: row;
   gap: 0px 0px;
   row-gap: 0px;
   column-gap: 0px;
   padding-top: 90px;
   padding-bottom: 90px;
   padding-left: 0px;
   padding-right: 0px;
 }

 .economize-left,
 .economize-right {
   width: 50%;
 }

 .economize-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 200px;

   h4 {
     font-size: 2rem;
     margin-bottom: 1.5rem;

     p {
       font-size: 24px;
       margin: 0;
       line-height: 1.0;
       width: 602px;
     }

     strong {
       color: #ff8800;
     }
   }

   .title-economize {
     font-family: Poppins, Sans-serif;
     margin-bottom: 2rem;
     font-size: 24px;
     font-weight: 500;
     line-height: 30px;
     line-height: 1.0;
     width: 602px;

   }

   .btn-secundary {
     background-color: #ff6600;
     color: #fff;
     padding: 15px 30px;
     border: none;
     border-radius: 40px;
     font-weight: 600;
     cursor: pointer;
     font-size: 0.93rem;

     &:hover {
       opacity: 0.85;
     }
   }
 }

 .economize-right {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;

   .background-zero {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-image: url('/caminho/para/sua-imagem.png');
     background-size: cover;
     background-position: center;
     opacity: 0.3;
   }

   .texto-superior {
     width: 100%;
     max-width: 482px; 
     padding: 1rem; 
     position: relative;
     text-align: center;
     z-index: 1;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   .title-economia {
     font-family: Poppins, Sans-serif;
     font-size: 90px;
     font-weight: 600px;
     line-height: 67px;
     width: 303.44px;
     height: 60px;
     font-size: 60px;
     padding-right: 200;
   }

   .title-custo {
     font-family: Poppins, Sans-serif;
     font-size: 60px;
     font-weight: 600px;
     line-height: 80px;
   }
 }

 /* .economize h4 {
   USANDO O economize H4 para estilizar todos os 3 textos (investimento, obra, dor) 
   font-family: Poppins, Sans-serif;
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 16px;
 }

 H4 strong {
   color: #FF8800;
 }

 .title-economize {
   font-family: Poppins, Sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 30px;
   color: #fff;
 } */


 @media (max-width: 768px) {
   .hero {
     flex-direction: column;
     text-align: center;
     gap: 30px;
   }

   .hero-text {
     max-width: 100%;
   }

 }